<div class="profile-container">

  <h1>Welcome to GALORÉ</h1>

  <h3 id="user-name"></h3>
  <p id="user-email"></p>
  <p id="user-role"></p>

  <hr style="margin:30px 0; border-color:#444;">

  <h2 style="color:#d4af37;">Purchase History</h2>

  <div id="orders-container">

    <div style="
      background:#333;
      padding:15px;
      margin-top:15px;
      border-radius:8px;
    ">
      <strong>Golden Echoes</strong>
      <br>
      Price: 1850.00 €
      <br>
      Status: Completed
    </div>

  </div>

  <a href="artist_dashboard.html" class="btn-logout" style="text-decoration:none; display:inline-block; margin-right:10px;">
  Artist Dashboard
  </a>

  <a href="admin.html" class="btn-logout" style="text-decoration:none; display:inline-block; margin-right:10px;">
  Admin Panel
  </a>

  <button class="btn-logout" onclick="logout()">
    Logout
  </button>

</div>